/* CSS pour le logo du livre et du carré autour */


.book {
    /* contour livre */
    margin: 2px;
    border: 5px solid #ccc;
    float: left;
    width: 7%;
    background-color: white;
}

.book img {
    width: 100%;
    height: auto;
}

/* ********************************************Menu principal********************************** */
.header {

    margin-top: -38px;
    padding: 2%;
    padding-bottom: 4%;
    background-color: rgba(110, 110, 110, 0.9);


}

.title {
    font-family: snel, sans-serif;
    margin-top: 2%;
    margin-left: 30%;
}

.menu {
    /* border: 5px solid #6495ED; */
    float: top;
}


.menu ul {
    width: 86%;
    float: left;
    list-style-type: none;


}


.menu li {
    display: inline;

}


.menu ul li a {

    background-color: #6495ED;
    color: black;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 14%;
    padding-left: 14%;
    margin-right: -1%;
    border: 2px solid;
}

/* Effet de souris */
.menu ul li a:hover {
    background-color: skyblue;
    border-color: #696969 #DCDCDC #DCDCDC #696969;
}


.search {
    float: right;
    padding-top: 20px;
    padding-right: 15%;
    margin-right: 5%;
    margin-top: -30px;
}


/* *****************************************FOOTER************************************** */

footer {
    background-color: rgba(110, 110, 110, 0.9);
    position: fixed;

    bottom: 0;

    width: 99%;


    height: 10%;


}

.infoFooter {
    color: #6495ED;
    float: top;
    list-style-type: none;

}

.infoFooter ul {
    padding: 0;
    list-style-type: none;
    margin-left: 38%;
    margin-bottom: 10px;
}

.infoFooter li {
    margin-left: 10%;
    float: left;
    margin-top: 20px

}

.infoFooter div {
    font-size: 20px;
    padding-left: 28%;


}

/*********************************** IMAGE BACKGROUND ***************/
body {
    background-image: url("content/background.jpg");
    background-attachment: fixed;

}

/*************************************************** MAP *********************************************/

#mapid {
    height: 450px;
    width: 800px;
}


/******************************** INDEX.Center *****************************/

.center {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-top: 45px;
    padding: 1%;
}

/******************************** page école **********************/

.ecoleCenter {
    text-align: center;
    margin-left: 5%;
}

.ecoleMap {
}

.ecoleAffiche {
    margin-top: -25%;
    padding-right: 35%;
    float: right;
    text-align: center;

}

/******************************** Page dîplome ********************/

.tableau {
    width: 840px;
    height: 570px;
    overflow: auto;
}

.mapCenter{
    margin-left: 55%;
    margin-top: -28%;
    padding-bottom: 40px;
}
